<ol class="breadcrumb well well-sm">
    <li><a href="#">Home</a></li>
    <li><a href="#addresses">Addresses</a></li>
    <li class="active">{{#if create}}Create Address{{else}}{{title}}{{/if}}</li>
</ol>

<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{#if create}}Create Address{{else}}Edit Address{{/if}}
            (FYI I only created 1 model fixture, so the same data will show up here)
        </h3>
    </div>
    <div class="panel-body">
        <form id="address-form" class="badmin-form ">
            <input type="hidden" name="create" value="{{create}}" />

            <div class="input-group">
                <span for="id" class="badmin-label input-group-addon">City ID</span>
                <input disabled type="text" class="form-control" value="{{id}}" />
            </div>
            <div class="input-group">
                <span for="title" class="badmin-label input-group-addon">Title</span>
                <input type="text" name="title" id="title" class="form-control" value="{{title}}" placeholder="e.g. Dog Bar"/>
            </div>
            <div class="input-group">
                <span for="street" class="badmin-label input-group-addon">No. & Street</span>
                <input type="text" name="street" id="street" class="form-control" value="{{street}}" placeholder="e.g. 33 Yellow Street" />
            </div>
            <div class="input-group">
                <span for="zip" class="badmin-label input-group-addon">Zip</span>
                <input type="text" name="zip" class="form-control" id="zip" value="{{zip}}">
            </div>
            <div class="input-group">
                <span for="parent_city_id" class="badmin-label input-group-addon">City</span>

                <div>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#">Los Angeles</a></li>
                        <li><a href="#">New York</a></li>
                        <li><a href="#">San Francisco</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-success form-save">Save</button>
        <button class="btn btn-warning form-cancel">Cancel</button>
    </div>
</div>





